article, aside, details, figcaption, figure, footer, header, menu,
section {
  display: block;
}

body {
	font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #000;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #DBD5D9;
}

a {
	text-decoration: none;
    outline: none;
    color: #eee;
    text-shadow: 2px 2px 10px #aaa;
    transition: 1s;
}

img {
	width: 500px;
	height: 750px;

}

a:hover {
	color: #fff;
	transition: 1s;
}

h3 {
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	color: #000;
	letter-spacing: 8px;
	margin-top: 100px;

}

h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	color: #000;
	padding-bottom: 10px;
	text-align: center;
}

section:nth-of-type(even) {
    background: #CDC7CB;
}

header {
	background: url(../img/hero.jpeg) no-repeat center center fixed;
    background-size: cover;
	height: 100vh;
}

nav {
    width: 100vw;
    padding: 20px;
    z-index: 1;
    position: fixed;
    top: 0px;
    text-align: center;
    margin-top: 0px;
    background-image: url(../img/hero.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    font-size: 12px;
    font-family: arial;
    white-space: nowrap;
    height: 40px;
    color: #fff;

}

.links { 
	letter-spacing:3px;
	font-weight:bold;
}

.designs {
	letter-spacing: 1px !important;
	word-spacing: 1px !important;
	color: #fff !important;
	font-size: 24px !important;
	padding-bottom: 10px;
}

.artwork {
	height: 800px;
	width: 1000px;
	padding-top: 60px;
	padding-left:24%;
    text-align: center;

}

.artwork_alt {
	height: 800px;
	width: 1200px;
	padding-top: 60px;
	padding-left:8%;
    text-align: center;	
}

.art_boxes {
	width: 500px;
	height: 750px;
	border: 1px solid #aaa;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: 100px;
	margin-top: 35px;
	float: left;

}

.art_boxes_alt {
	width: 750px;
	height: 500px;
	border: 1px solid #aaa;
	background-image: url(../img/tiger.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: 100px;
	margin-top: 100px;
	float: left;

}

.art_boxes_alt_2 {
	width: 750px;
	height: 500px;
	border: 1px solid #aaa;
	background-image: url(../img/heroweb.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: 100px;
	margin-top: 100px;
	float: left;

}

.art_text {
	width: 300px;
	margin-right: 10px;
    display: inline-block;
	font-size: 17px;
}

.footer {
	text-align: center;
    padding: 20px 0px 50px 0px;
	word-spacing: 30px;
	letter-spacing:5px;
	background-color: #C5BDC0;
	font-size: 25px;
}


@media screen and (max-width: 900px) {

body {
	width: 768px;
}

img {
	width: 350px;
	height: 525px;

}

h3 {
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	color: #000;
	letter-spacing: 8px;
	margin-top: 150px;

}

.artwork {
	height: 660px;
	width: 768px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 4%;
    text-align: center;

}

.artwork_alt {
	height: 597px;
	width: 750px;
	padding-top: 60px;
	padding-left:2%;
    text-align: center;	
}

.art_boxes {
	width: 350px;
	height: 525px;
	border: 1px solid #aaa;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: -10px;
	margin-top: 95px;
	float: left;

}

.art_boxes_alt {
	width: 500px;
	height: 325px;
	border: 1px solid #aaa;
	background-image: url(../img/tiger.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: -10px;
	margin-top: 150px;
	float: left;

}

.art_boxes_alt_2 {
	width: 500px;
	height: 325px;
	border: 1px solid #aaa;
	background-image: url(../img/heroweb.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: -10px;
	margin-top: 150px;
	float: left;

}

.art_text {
	width: 250px;
	margin-right: 0px;
	float: right;
	font-size: 17px;
}

  }

@media screen and (max-width: 425px) {

body {
	width: 100vw;
}

img {
	width: 350px;
	height: 525px;
}


h3 {
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Cormorant Infant', serif;
	color: #000;
	letter-spacing: 8px;

}

nav {
    word-spacing: 10px;
    width: 100vw;
    font-size: 11px;
    margin-left: -20px;

}

.designs {
	font-size: 14px !important;
	padding-bottom: 10px;
	width: 100vw;
}

.artwork {
	height: 840px;
	width: 360px;
	padding-left: 2.7%;
}

.artwork_alt {
	height: 597px;
	width: 360px;	
}

.art_boxes {
	width: 90vw;
	height: 525px;
	margin-bottom: 20px;
}

.art_boxes_alt {
	width: 90vw;
	height: 175px;
	border: 1px solid #aaa;
	background-image: url(../img/tiger.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: -10px;
	margin-top: 150px;
	margin-bottom: 20px;
	float: left;

}

.art_boxes_alt_2 {
	width: 90vw;
	height: 175px;
	border: 1px solid #aaa;
	background-image: url(../img/heroweb.png);
	background-size: cover;
	box-shadow: -5px 5px 16px #aaa;
	margin-right: -10px;
	margin-top: 150px;
	margin-bottom: 20px;
	float: left;

}

.art_text {
	width: 325px;
	margin-right: 20px;
	font-size: 17px;
}

  }